*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-main: "Oswald", sans-serif;
}

.flex {
  display: flex;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

body {
  font-family: "Oswald", sans-serif;
}
.main {
  background-image: url(/images/main-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.content-wrapper {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding: 10.5rem 4rem;
  margin: 0 auto;
  line-height: 1.4;
}

.content-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.1rem;
}

.content {
  display: flex;
  padding: 1rem 4rem 2rem;
  margin: 1rem 11.5rem 2.6rem;
  /* outline: 1px solid red; */
}

.content p {
  font-size: 1.4rem;
}

.content img {
  max-width: 100%;
  width: 25%;
  margin-right: 5rem;
}

.content-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content-main .main-btn {
  text-align: end;
  font-family: var(--font-main);
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  padding: 0.725rem 0.5rem;
  border-radius: 1.2rem;
  background-color: #7dce13;
  cursor: pointer;
  border: none;

  transition: 300ms;
}

.content-main .main-btn:hover {
  background-color: #3b5c10;
  color: #fff;
}

@media only screen and (max-width: 960px) {
  .content {
    display: block;
    max-width: 100%;
    width: 100%;
    line-height: 1.5;
    margin: 0 auto;
  }
  .center {
    width: 100%;
    text-align: center;
  }
  .content img {
    width: 875px;
    margin-bottom: 1.5rem;
  }
  .content-main .main-btn {
    margin-top: 1.5rem;
  }
  .card {
    text-align: center;
    flex-direction: column;
    padding: 0 6rem;
    margin-bottom: 2rem;
  }

  .card p {
    display: none;
  }
}

@media only screen and (max-width: 1260px) {
  .content p {
    font-size: 1.625em;
  }
}

.card-title {
  text-align: center;
  margin-bottom: 1.625rem;
  text-transform: uppercase;
  font-size: 2.1rem;
  gap: 0.8rem;
}

.card {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  max-width: 100%;
  width: 900px;
  gap: 8rem;
  justify-content: space-between;
}

.card1,
.card2,
.card3 {
  margin: 2rem;
}

.card img {
  max-width: 100%;
  width: 100%;
}
